body{
        font-family: "Cambria";
        text-align: left;
        margin-left: 15%;
        margin-right: 15%;
}

h1{
        color: purple;
        text-align: center;
}

h2, h3{
        color: black;
        text-align: center;
}

img{
        width: 60%;
        height: auto;
        display: block;
        margin: 0 auto;
}

.item{
        font-weight: bold;
}