body{
        font-family: "Cambria";
        text-align: left;
        margin-left: 15%;
        margin-right: 15%;
        background-color: lavender;
}

h1{
        color: darkslateblue;
        text-align: center;
}

h2, h3{
        color: black;
        text-align: center;
}

img{
        width: 60%;
        height: auto;
        display: block;
        margin-right: auto;
        margin-left: auto; 
}

.item{
        font-weight: bold;
}

ul{
        list-style-type: circle;
}